span.undefined { color:red; }
#pubTable {width:80%; margin: 0 auto; clear: both;}
#pubChart { float:left;}
.clear {clear:both;}
#pubyeardetails {font-size:smaller;float:right; padding:5px; display:none; border:1px solid #FFFFFF; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; border-radius:10px;}
#pubyeardetails h3 {margin: 0;border-bottom:1px solid white;}
#pubyeardetails ul {padding:0;}
#pubyeardetails li {padding:0; list-style: none; }
table.display thead th { padding: 3px 18px 3px 10px; border-bottom: 1px solid white; border-top: 1px solid white; font-weight: bold; cursor: pointer; cursor: hand; }
table.display tfoot th { padding: 3px 10px; border-top: 1px solid white; font-weight: bold; }
table.display td { padding: 3px 10px; text-align: left;}
table.display td.center { text-align: left; }
tr.odd { background-color: #454545; }
tr.even { background-color: #292929; }
div.hidden { display: none;}
div.bibinfo { width: 80%; position: fixed; top: 100px; left: 10%; background-color: #404040; border: 3px solid #aaa; padding: 10px; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; border-radius:10px;}
#shutter { background-color: #333333; opacity: 0.7; width:100%; height: 100%; position: fixed; top: 0; left:0;}
a.bibclose { background-color: #333333; border: 3px solid #111111; color: black; float: left; font-size: 20px; height: 20px; left: -25px; line-height: 20px; padding: 3px; position: relative; text-align: center; text-decoration: none; top: -25px; width: 20px; -moz-border-radius:15px; -webkit-border-radius:15px; -o-border-radius:15px; border-radius:15px; }
div.bibinfo pre { clear:both; }
/* Élargir les deux premières colonnes du tableau des publications */
#pubTable td:nth-child(1),
#pubTable th:nth-child(1) {
    padding-left: 20px;
    padding-right: 10px;
}

#pubTable td:nth-child(2),
#pubTable th:nth-child(2) {
    padding-left: 15px;
    padding-right: 10px;
}
